<div  class="col-md-8 col-md-offset-2 justify-content-center">
        <h2>More Information about {{name}}</h2>
        <div>
             
                <ul *ngIf="data">
                    <li><h4>Name : {{data?.name}}</h4></li><h4></h4>
                    <li><h4>ID : {{data?.id}}</h4></li>
                    <li><h4>RANK : {{data?.rank}}</h4></li>
                    <li><h4 >Market_Cap : {{marketcap}} {{currencyType}}</h4></li>
                    <li><h4>Symbol : {{data?.symbol}}</h4></li>
                    <li><h4>Percent_Change_1h :{{Percent_Change_1h}} %</h4></li>
                </ul>
                
                <button  class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
        
    </div>